// 设置滚动条样式
@mixin scrollbar(
  $width: $scrollbar-width,
  $height: $scrollbar-height,
  $thumb-bgc: $scrollbar-thumb-bgc,
  $track-bgc: $scrollbar-track-bgc
) {
  // 当参数为数字时才有效
  @if type-of($width) == 'number' and type-of($height) == 'number' {
    &::-webkit-scrollbar {
      /* 滚动条整体样式 */
      width: $width; /*高宽分别对应横竖滚动条的尺寸*/
      height: $height;
    }
  } @else {
    // 错误提示
    // content: 'We expect you to pass in a Number, but you passed in a ' +
    //   type-of($width);
  }

  // 当参数为颜色时才有效
  @if (type-of($thumb-bgc) == 'color' and type-of($track-bgc) == 'color') {
    &::-webkit-scrollbar-thumb {
      /* 滚动条里面小方块 */
      border-radius: 100px;
      // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background-color: $thumb-bgc;
    }
    &::-webkit-scrollbar-track {
      /* 滚动条里面轨道 */
      // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 100px;
      background-color: $track-bgc;
    }
  } @else {
    // 错误提示
    // content: 'We expect you to pass in a Number, but you passed in a ' +
    //   type-of($width);
  }
}
